@font-face {
  font-family: Lato-Medium;
  src: url("/fonts/Lato/Lato-Medium.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Lato-Heavy;
  src: url("/fonts/Lato/Lato-Heavy.ttf");
}

@font-face {
  font-family: Lato-Semibold;
  src: url("/fonts/Lato/Lato-Semibold.ttf");
}

@font-face {
  font-family: Lato-Regular;
  src: url("/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("/fonts/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Black;
  src: url("/fonts/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: Lato-Thin;
  src: url("/fonts/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: Myriad-Pro-Bold;
  src: url("/fonts/MyriadPro/Myriad-Pro-Bold.ttf");
}

@font-face {
  font-family: Montserrat-UltraLight;
  src: url("/fonts/Montserrat/Montserrat-UltraLight.ttf");
}

body {
  box-sizing: border-box;
}

a, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*page-header*/

.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 1064px;
  max-width: 1600px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.83);
  background-image: url(/img/header-bg.jpg);
  background-blend-mode: color;
  background-position: center center;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 88px;
  border-bottom: 1px solid #2e2e32;
}

.page-header__logo {
  margin: 5px;
}

.main-nav {
  font-family: Lato-Medium, Arial, sans-serif;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 632px;
}

.main-nav__link {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

.main-nav__link a {
  padding: 36px 0 36px 0;
  border-bottom: 1px solid #ffffff00;
}

.main-nav__link a:hover {
  border-bottom: 1px solid #ffffff;
}

.page-header__banner {
  min-height: 853px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.baner__greeting {
  font-family: Myriad-Pro-Bold, Arial, sans-serif;
  font-size: 72px;
  padding: 0;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.baner__text {
  font-family: Georgia, Arial, sans-serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 47px;
  padding: 0;
  margin: 0 0 15px 0;
  text-align: center;
}

.entry-panel {
  display: flex;
  justify-content: center;
}

.entry-panel__btn {
  display: flex;
  flex: 1;
  align-items: center;
  font-family: Lato-Medium, Arial, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.entry-panel__btn--blue {
  justify-content: flex-end;
  background: #21424a;
}

.entry-panel__btn--green {
  justify-content: flex;
  background: #2fac6c;
}

.entry-panel__btn a {
  display: flex;
  padding: 48px 260px;
}

.entry-panel__btn--blue a {
  padding-right: 260px;
}

.entry-panel__btn--green a {
  padding-left: 250px;
}

.entry-panel__btn--blue::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 121px;
  right: 50%;
  background-color: rgb(33, 65, 73);
  transform: skewX(-15deg);
}

.entry-panel__btn--green::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 121px;
  left: 50%;
  background-color: rgb(47, 172, 108);
  transform: skewX(-15deg);
}

.entry-panel__btn a:hover {
  color: rgba(255, 255, 255, 0.522);
}

/*page-header*/

/*page-main*/

.page-main__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*domain*/

.domain {
  min-height: 579px;
  display: flex;
  flex-direction: column;
}

.domain__wrapper {
  
  max-width: 1200px;
  margin: 0 auto;
  padding: 87px 0 90px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.domain__title {
  font-family: Lato-Heavy, Arial, sans-serif;
  font-size: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.domain__description {
  font-family: Montserrat-UltraLight, Arial, sans-serif;
  font-size: 16px;
  max-width: 890px;
  margin: 24px 0 48px 0;
  padding: 0;
  text-align: center;
}

.domain__input-section {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  min-height: 48px;
  max-width: 890px;
}

.domain__web {
  display: flex;
  font-family: Lato-Regular, Arial, sans-serif;
  color: rgb(203, 203, 203);
  font-size: 15px;
  padding: 0 17px 0 17px;
}

.domain__input {
  flex-grow: 2;
  padding: 0 17px 0 17px;
  margin: 6px 0 6px 0;
  border: 0 none;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  font-family: Lato-Semibold, Arial, sans-serif;
  font-size: 15px;
  color: rgb(134, 134, 134);
}

.domain__select {
  display: flex;
  font-family: Lato-Regular, Arial, sans-serif;
  font-size: 15px;
  color: rgb(203, 203, 203);
  padding: 0 17px 0 17px;
  margin: 0;
  border: 0 none;
  width: 85px;
  background: transparent;
}

.domain__table-prise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: Lato-Regular, Arial, sans-serif;
  font-size: 14px;
  color: rgb(203, 203, 203);
  min-height: 194px;
  max-width: 890px;
  border: 1px solid #d9d9d9;
  margin: 40px 0 0 0;
  padding: 0 20px 0 20px;
}

.domain__table-wrapper {
  display: flex;
  align-items: center;
  width: 25%;
  padding: 0;
}

.domain__table-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95.5px;
  margin: 0 8px 0 8px;
  text-align: center;
}

.domain__table-wrapper:nth-child(n+5) .domain__table-cell {
  border-top: 1px solid rgb(217, 217, 217);
}

.domain__table-wrapper::after {
  content: "";
  width: 1px;
  height: 74px;
  background-color: rgb(217, 217, 217);
}

.domain__table-wrapper:nth-child(4n)::after {
  content: "";
  width: 0;
}

/*domain*/

/*packages*/

.packeges {
  background: url(../img/packages-photo.jpg) no-repeat;
  background-position: center top;
  min-height: 766px;
  max-width: 1600px;
  margin: 0 auto;
}

.packeges__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 65px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}

.package-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 30px;
  width: 255px;
  height: 566px;
  border-top: 6px solid black;
  padding: 36px 0 0 0;
  box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, .1);
}

.package-item--yellow {
  color: rgb(249, 212, 35);
  border-color: rgb(249, 212, 35);
}

.package-item--yellow:hover {
  box-shadow: 0rem 0rem 0.5rem 0 rgba(249, 212, 35, .9);
  transition: 0.75s;
}

.package-item--grey {
  color: rgb(127, 140, 141);
  border-color: rgb(127, 140, 141);
}

.package-item--grey:hover {
  box-shadow: 0rem 0rem 0.5rem 0 rgba(127, 140, 141, .9);
  transition: 0.75s;
}

.package-item--red {
  color: rgb(248, 95, 64);
  border-color: rgb(248, 95, 64);
}

.package-item--red:hover {
  box-shadow: 0rem 0rem 0.5rem 0 rgba(248, 95, 64, .9);
  transition: 0.75s;
}

.package-item--green {
  color: rgb(26, 188, 156);
  border-color: rgb(26, 188, 156);
}

.package-item--green:hover {
  box-shadow: 0rem 0rem 0.5rem 0 rgba(26, 188, 156, .9);
  transition: 0.75s;
}

.package-item__header {
  margin: 0;
  padding: 0;
}

.package-item__logo {
  position: relative;
}

.package-item__logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*circle*/

.circle {
  box-sizing: border-box;
  border: 6px solid #ffffff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  transform: rotate(45deg);
  margin: 0 auto;
}

.package-item--yellow .circle {
  border-top: 6px solid;
}

.package-item--grey .circle {
  border-top: 6px solid;
  border-right: 6px solid;
}

.package-item--red .circle {
  border-top: 6px solid;
  border-right: 6px solid;
  border-bottom: 6px solid;
}

.package-item--green .circle {
  border: 6px solid;
}

/*end circle*/

.package-item__title {
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 16px;
  color: rgb(40, 40, 40);
  text-transform: uppercase;
  margin: 18px 0 18px 0;
}

.package-item__features {
  font-family: Lato-Regular, Arial, sans-serif;
  font-size: 16px;
  width: 200px;
  margin: 0 30px;
  border-top: 1px solid rgba(180, 180, 180, 255);
  border-bottom: 1px solid rgba(180, 180, 180, 255);
}

.package-item__features tr:first-child td {
  padding: 14px 0 20px 0;
}

.package-item__features tr:last-child td {
  padding: 0 0 14px 0;
}

.package-item__features td {
  font-family: Lato-Light, Arial, sans-serif;
  padding: 0 0 18px 0;
}

.package-item td:first-child {
  color: rgba(180, 180, 180, 255);
  text-align: left;
}

.package-item td:last-child {
  font-family: Lato-Bold, Arial, sans-serif;
  text-align: right;
}

.package-item__price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 29px 0 0 0;
}

.package-item__price .currency {
  font-family: 'lato-heavy', Arial, sans-serif;
  font-size: 17px;
}

.package-item__price .value {
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 28px;
}

.package-item__price .month {
  font-family: Lato-Regular, Arial, sans-serif;
  font-size: 13px;
  color: rgb(141, 141, 141);
  align-self: flex-end;
  padding-bottom: 3px;
}

.package-item__btn {
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-top: 3px solid;
  padding: 20px 0 20px 0;
}

.package-item__price span {
  color: rgb(40, 40, 40);
}

.package-item__btn span {
  color: rgb(40, 40, 40);
}

/*packages*/

/*about us*/

.about-us {
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
}

.about-us__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0 0 0;
  display: flex;
  flex-direction: row;
  border-top: 3px dotted rgba(44, 62, 80, 0.15);
}

.about-us__description {
  width: 48.5%;
  font-family: Lato-Thin, Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: rgba(116, 116, 116, 255);
}

.about-us__description h3 {
  font-family: Lato-Black, Arial, sans-serif;
  font-size: 35px;
  color: rgba(48, 48, 48, 255);
  margin-bottom: 25px;
}

.about-us__description span {
  font-family: Lato-Semibold, Arial, sans-serif;
  font-size: 35px;
}

.about-us__description p {
  padding: 0 80px 0 0;
}

.our-team {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 51.5%;
  padding: 0 24px 0 102px;
  border-left: 3px dotted rgba(44, 62, 80, 0.15);
}

.out-team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.out-team__item img {
  box-sizing: border-box;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
}

.out-team__person-name {
  font-family: Lato-Semibold, Arial, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 18px 0 15px 0;
}

.out-team__person-name span {
  font-family: Lato-Regular, Arial, sans-serif;
  font-size: 15px;
  color: rgb(142, 142, 142);
  margin: 5px 0 0 0;
}

.out-team__social a {
  padding: 0 11px;
  color: rgb(116, 116, 116);
}

.out-team__social a:hover {
  color: rgb(31, 137, 186);
}

/*about us*/

/*comments*/

.comments {
  max-width: 1600px;
  min-height: 190px;
  margin: 0 auto;
  background: url("/img/comments-bg.jpg");
  background-position: center center;
  color: rgb(255, 255, 255);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.comments__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.comments__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Lato-Light, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  padding: 0 150px 0 150px;
  margin: 0 0 0 0;
}

.comments__message p {
  padding: 0 0 10px 0;
  margin: 0;
  text-align: center;
}

.comments__message cite {
  display: flex;
  font-family: Lato-Bold, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.comments__message cite span {
  padding: 0 11px;
}

.comments-trigger {
  display: flex;
  align-items: center;
  padding: 0 11px;
}

.comments-trigger__btn {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  margin-left: 12px;
  cursor: pointer;
  background: transparent;
  padding: 0
}

.comments-trigger__btn.active {
  background: #ffffff;
}

/*comments*/

/*functions*/

.functions {
  max-width: 1600px;
  min-height: 340px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.functions__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*align-content: center;*/
}

.functions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  margin: 10px 50px 10px 50px;
}

.functions-item__logo--yellow {
  background: #f1c40f;
}

.functions-item__logo--blue {
  background: #0faff1;
}

.functions-item__logo--grey {
  background: #95a5a6;
}

.functions-item__logo--red {
  background: #f1540f;
}

.functions-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functions-item__logo {
  position: relative;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.functions-item__logo i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.functions-item__title {
  font-family: Lato-Heavy, Arial, sans-serif;
  font-size: 19px;
  color: rgb(48, 48, 48);
  margin: 20px 0 0 0;
}

.functions-item__description {
  font-family: Lato-Light, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: rgb(126, 126, 126);
  text-align: center;
  margin: 7px 0 0 0;
}

/*functions*/

/*page-main*/

/*footer*/

.page-footer {
  max-width: 1600px;
  min-height: 295px;
  margin: 0 auto;
  background: #2a2a2a;
  color: rgb(255, 255, 255);
  display: flex;
}

.page-footer__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*footer-top-menu*/

.footer-top-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.page-footer__logo img {
  opacity: 0.5;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  /*padding: 34px 0 33px 0;*/
}

.footer-nav__link {
  font-family: Lato-Medium, Arial, sans-serif;
  font-size: 13px;
  color: rgb(104, 104, 104);
  margin: 0 0 0 46px;
  text-transform: uppercase;
  padding: 34px 0 33px 0;
}

.footer-nav__link:hover {
  color: rgb(255, 255, 255);
}

/*footer-top-menu*/

/*footer-bottom*/

.footer-bottom {
  display: flex;
  flex-direction: row;
  font-family: Lato-Light, sans-serif;
  font-size: 15px;
  color: rgba(104, 104, 104, 255);
  padding: 34px 0 34px 0;
}

.footer-bottom__copyright {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 33%;
  border-right: 1px solid #4a4a4a;
  padding: 0 60px 0 0;
}

.footer-bottom__copyright p {
  padding: 0;
  margin: 13px 0 0 0;
  line-height: 26px;
}

.footer-bottom__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 44%;
  border-right: 1px solid #4a4a4a;
  padding: 0 35px 0 35px;
}

.footer-bottom__links-table {
  width: 150px;
  margin: 00 3px 0 30px;
}

.footer-bottom__links-table li {
  padding: 7px;
}

.footer-bottom__links-table a:hover {
  padding-left: 10px
}

.footer-bottom__links-table li:hover {
  color: rgb(255, 255, 255);
}

.footer-bottom__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 23%;
  margin-left: 85px;
}

.footer-bottom__phone {
  display: flex;
  padding: 0;
  margin: 10px 0 10px 0;
}

.footer-bottom__phone a {
  padding-left: 14px;
}

.footer-bottom__email {
  display: flex;
  padding: 0;
  margin: 0 0 10px 0;
}

.footer-bottom__email a {
  padding-left: 14px;
}

.footer-bottom__address {
  display: flex;
  margin: 0 0 0 0;
  line-height: 30px;
}

/*footer-bottom*/

/*footer*/

@media (min-width: 1200px) {
  .page-header__top {
    width: 1200px;
  }
  .page-header__logo {
    margin-right: auto;
  }
}

@media (max-width: 640px) {
  .main-nav__list {
    width: 350px;
  }
}

@media (max-width: 1200px) {
  .page-header {
    min-height: auto;
  }
  .entry-panel__btn--blue a {
    padding-right: 50px;
  }
  
  .entry-panel__btn--green a {
    padding-left: 50px;
  }
  
  .entry-panel__btn--blue::after,
  .entry-panel__btn--green::before {
    width: 35px;
  }

  .packeges__wrapper,
  .about-us__wrapper,
  .our-team  {
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    padding: 5px;
  }

  .our-team__item {
    margin: 10px;
  }

  .functions__wrapper {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .page-footer__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-us__description,
  .about-us__description p {
    padding: 5px;
    text-align: center;
  }

  .page-footer__logo,
  .footer-nav {
    width: auto;
  }

  .footer-nav__link,
  .page-footer__logo {
    padding: 10px;
    margin: 2px;
  }

  .footer-bottom {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 2px;
  }

  .footer-bottom__copyright,
  .footer-bottom__links,
  .footer-bottom__contacts {
    width: auto;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    padding: 5px;
    margin: 2px;
    text-align: center;
    justify-content: center;
  }
}

.domain__input-section:hover {
  box-shadow: 0rem 0rem 1rem 0 rgba(0, 0, 0, .1);
}
